<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Response from the Grand Echo service</p>
    </p></br>
    <p>Quote of the day: <b><%= echoObject.val %></b></p>
    </p></br>
    <a href="/">Home</a>
  </body>
</html>
